// ==========================================================================
// Position
// ==========================================================================

%u-position-absolute { position: absolute; }
%u-position-relative { position: relative; }
%u-position-fixed { position: fixed; }
%u-position-static { position: static; }